:root {
  --main-color-blue: #0A79DF;
  --main-color-black: #2F363F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62,5%;
}

body {
  background-color: var(--main-color-black);
  box-sizing: border-box;
  line-height: 1.7;
  font-family: Nunito, sans-serif;
  font-weight: normal;
}


.container {
  padding: 1rem 2rem;
  margin: 2rem auto;
  width: 85%; 
  height: 100%;
  background-color: #EAF0F1;
  box-shadow: 0px 0px 2rem grey;
  border-radius: .4rem;
}

.header {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.header--main {
  font-size: 3.5rem;
  font-weight: bold;
}
.header--sub1 {
  font-size: 1.3rem;
}
.header--sub1 a {
  color: var(--main-color-blue);
  text-decoration: none;
}

.header--sub2 {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
}

.header--sub2 b {
  color: var(--main-color-blue);
}

.container-card {
  max-width: 150rem;
  margin: 0 auto;
  padding: 1.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  margin: 2rem;
  width: 20rem;
  border-radius: 4px;
  position: relative;
} 

.card img {
  width: 100%;
}

.card--text {
  font-weight: 300;
  position: absolute;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  color: #333;
}

