:root {
  --main-color-blue: #0A79DF;
  --main-color-black: #2F363F;
}

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62,5%;
}

body {
  background-color: var(--main-color-black);
  box-sizing: border-box;
  line-height: 1.7;
  font-family: Nunito, sans-serif;
  font-weight: normal;
}

.container {
  padding: 1rem 2rem;
  margin: 2rem auto;
  width: 90%; 
  height: 100%;
  background-color: #F3F3F3;
  box-shadow: 0px 0px 2rem grey;
  border-radius: .4rem;
}

.header {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.header--main {
  font-size: 3.5rem;
  font-weight: bold;
}
.header--sub1 {
  font-size: 1.3rem;
}
.header--sub1 a {
  color: var(--main-color-blue);
  text-decoration: none;
}

.header--sub2 {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
}

.header--sub2 b {
  color: var(--main-color-blue);
}

/* .container-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 150rem;
  margin: 0 auto;
  padding: 1.5rem;
} */

.container-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 150rem;
  margin: 0 auto;
  padding: 1.5rem;
}

.card {
  background: #F3F3F3;
  margin: .5rem auto;
  padding: 1.5rem;
  width: 22rem;
  border-radius: .2rem;
  position: relative;
  box-shadow: 0 2px 4px rgba(#000, 0.2);
  cursor: pointer;
  transition: 0.3s ease;
} 

.card:hover {
    box-shadow: 0 2px 4px rgba(#000, 0.2),
      0 4px 8px rgba(#000, 0.2);
  }
.card:active {
    transform-origin: center;
    transform: scale(0.98);
  }

.card img {
  width: 100%;
}

.card--text {
  font-weight: 300;
  position: absolute;
  margin: 0 auto;
  color: #333;
}

